[Unit]
Description=Ensure Deck SB custom EFI entry exists
After=network-online.target local-fs.target basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '/etc/systemd/system/deck-sb-bootfix.sh'

[Install]
WantedBy=multi-user.target
